In [1]:
import pandas as pd

In [6]:
df = pd.read_csv("https://raw.githubusercontent.com/BuzzFeedNews/zika-data/master/data/raw/paho-who/paho-who-cases-reported-2016-03-02.csv")
df

,Country / territory,Measure Names,Month of Date,Report Epi Week,Year of Date,Country / territory.1,Date,Measure Values,Laboratory confirmed cases,Suspected cases
0,Aruba,Suspected,January,1,2016,Aruba,"January, 2016",0,0,0
1,Aruba,Confirmed,January,1,2016,Aruba,"January, 2016",0,0,0
2,Aruba,Suspected,January,2,2016,Aruba,"January, 2016",0,0,0
3,Aruba,Confirmed,January,2,2016,Aruba,"January, 2016",0,0,0
4,Aruba,Suspected,January,3,2016,Aruba,"January, 2016",0,0,0
...,...,...,...,...,...,...,...,...,...,...
1211,Venezuela,Confirmed,December,50,2015,Venezuela,"December, 2015",0,0,0
1212,Venezuela,Suspected,December,51,2015,Venezuela,"December, 2015",0,0,0
1213,Venezuela,Confirmed,December,51,2015,Venezuela,"December, 2015",0,0,0
1214,Venezuela,Suspected,December,52,2015,Venezuela,"December, 2015",0,0,0
1215,Venezuela,Confirmed,December,52,2015,Venezuela,"December, 2015",0,0,0

In [7]:
import numpy as np

In [8]:
df1 = pd.DataFrame(np.arange(1,21).reshape(5,4), index=['r1','r2','r3','r4','r5'], columns=['c1','c2','c3','c4'])

In [9]:
df1

    c1  c2  c3  c4
r1   1   2   3   4
r2   5   6   7   8
r3   9  10  11  12
r4  13  14  15  16
r5  17  18  19  20

In [12]:
df1.loc['r1']

c1    1
c2    2
c3    3
c4    4
Name: r1, dtype: int32

In [13]:
df1.to_csv('demo.csv')

In [14]:
#iloc get rows and columns
df1.iloc[:,:]

    c1  c2  c3  c4
r1   1   2   3   4
r2   5   6   7   8
r3   9  10  11  12
r4  13  14  15  16
r5  17  18  19  20

In [15]:
df1.iloc[0:3,0:2]

    c1  c2
r1   1   2
r2   5   6
r3   9  10

In [16]:
df1.iloc[0:3,0:2].values

array([[ 1,  2],
       [ 5,  6],
       [ 9, 10]])

In [17]:
df.isnull().sum()

Country / territory           0
Measure Names                 0
Month of Date                 0
Report Epi Week               0
Year of Date                  0
Country / territory.1         0
Date                          0
Measure Values                0
Laboratory confirmed cases    0
Suspected cases               0
dtype: int64

In [51]:
df1['c1'].unique()

array([ 1,  5,  9, 13, 17])

In [21]:
df1[['c1','c2']]

    c1  c2
r1   1   2
r2   5   6
r3   9  10
r4  13  14
r5  17  18

# Pandas Read operation

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1216 entries, 0 to 1215
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Country / territory         1216 non-null   object
 1   Measure Names               1216 non-null   object
 2   Month of Date               1216 non-null   object
 3   Report Epi Week             1216 non-null   int64
 4   Year of Date                1216 non-null   int64
 5   Country / territory.1       1216 non-null   object
 6   Date                        1216 non-null   object
 7   Measure Values              1216 non-null   object
 8   Laboratory confirmed cases  1216 non-null   int64
 9   Suspected cases             1216 non-null   object
dtypes: int64(3), object(7)
memory usage: 95.1+ KB

In [23]:
df.describe()

       Report Epi Week  Year of Date  Laboratory confirmed cases
count      1216.000000   1216.000000                 1216.000000
mean         31.761513   2015.335526                    4.689145
std          20.136097      0.472368                   29.792762
min           1.000000   2015.000000                    0.000000
25%           5.000000   2015.000000                    0.000000
50%          43.000000   2015.000000                    0.000000
75%          48.000000   2016.000000                    0.000000
max          52.000000   2016.000000                  526.000000

In [24]:
# get the unique category count
df['Suspected cases'].value_counts()

0        1032
3           6
2           4
59          4
115         4
         ...
1,310       2
1,069       2
828         2
1,451       2
1,363       2
Name: Suspected cases, Length: 88, dtype: int64

In [56]:
df[df['Report Epi Week']>51]

,Country / territory,Measure Names,Month of Date,Report Epi Week,Year of Date,Country / territory.1,Date,Measure Values,Laboratory confirmed cases,Suspected cases
914,Aruba,Suspected,December,52,2015,Aruba,"December, 2015",0,0,0
915,Aruba,Confirmed,December,52,2015,Aruba,"December, 2015",0,0,0
924,Barbados,Suspected,December,52,2015,Barbados,"December, 2015",0,0,0
925,Barbados,Confirmed,December,52,2015,Barbados,"December, 2015",0,0,0
934,Bolivia,Suspected,December,52,2015,Bolivia,"December, 2015",0,0,0
...,...,...,...,...,...,...,...,...,...,...
1195,Trinidad and Tobago,Confirmed,December,52,2015,Trinidad and Tobago,"December, 2015",0,0,0
1204,United States Virgin Islands,Suspected,December,52,2015,United States Virgin Islands,"December, 2015",0,0,0
1205,United States Virgin Islands,Confirmed,December,52,2015,United States Virgin Islands,"December, 2015",0,0,0
1214,Venezuela,Suspected,December,52,2015,Venezuela,"December, 2015",0,0,0
1215,Venezuela,Confirmed,December,52,2015,Venezuela,"December, 2015",0,0,0

In [35]:
from io import StringIO, BytesIO

In [36]:
data = ('col1,col2,col3\n'
       'x,y,1\n'
       'a,b,2\n'
       'c,d,3')

In [37]:
pd.read_csv(StringIO(data))

  col1 col2  col3
0    x    y     1
1    a    b     2
2    c    d     3

In [39]:
 dt1 = pd.read_csv(StringIO(data), dtype=object)

In [40]:
dt1

  col1 col2 col3
0    x    y    1
1    a    b    2
2    c    d    3

In [41]:
dt1=pd.read_csv(StringIO(data), dtype={'col1':object,'col2':object,'col3':'Int64'})

In [42]:
dt1

  col1 col2  col3
0    x    y     1
1    a    b     2
2    c    d     3

In [55]:
dt1['col3'][1]

2

In [45]:
df.dtypes

Country / territory           object
Measure Names                 object
Month of Date                 object
Report Epi Week                int64
Year of Date                   int64
Country / territory.1         object
Date                          object
Measure Values                object
Laboratory confirmed cases     int64
Suspected cases               object
dtype: object

In [48]:
data1 = ('index,a,b,c\n'
        '4,Apple,bat,5.7\n'
        '8,Orange,cow,10')
pd.read_csv(StringIO(data1), index_col=0)

            a    b     c
index
4       Apple  bat   5.7
8      Orange  cow  10.0

In [49]:
data1 = ('index,a,b,c\n'
        '4,Apple,bat,5.7\n'
        '8,Orange,cow,10')
pd.read_csv(StringIO(data1), index_col=False)

   index       a    b     c
0      4   Apple  bat   5.7
1      8  Orange  cow  10.0

In [50]:
data2 = 'a,b\n"hello, \\"Bob\\",nice to see you",5'
pd.read_csv(StringIO(data2), escapechar='\\')

                              a  b
0  hello, "Bob",nice to see you  5

# Read Json to CSV

In [59]:
djson = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data')
djson.head()

,1,14.23,1.71,2.43,15.6,127,2.8,3.06,.28,2.29,5.64,1.04,3.92,1065
0,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
1,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
2,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
3,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
4,1,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450

In [60]:
djson.to_csv('winedata.csv')

In [66]:
djson.to_json(orient='index')

'{"0":{"1":1,"14.23":13.2,"1.71":1.78,"2.43":2.14,"15.6":11.2,"127":100,"2.8":2.65,"3.06":2.76,".28":0.26,"2.29":1.28,"5.64":4.38,"1.04":1.05,"3.92":3.4,"1065":1050},"1":{"1":1,"14.23":13.16,"1.71":2.36,"2.43":2.67,"15.6":18.6,"127":101,"2.8":2.8,"3.06":3.24,".28":0.3,"2.29":2.81,"5.64":5.68,"1.04":1.03,"3.92":3.17,"1065":1185},"2":{"1":1,"14.23":14.37,"1.71":1.95,"2.43":2.5,"15.6":16.8,"127":113,"2.8":3.85,"3.06":3.49,".28":0.24,"2.29":2.18,"5.64":7.8,"1.04":0.86,"3.92":3.45,"1065":1480},"3":{"1":1,"14.23":13.24,"1.71":2.59,"2.43":2.87,"15.6":21.0,"127":118,"2.8":2.8,"3.06":2.69,".28":0.39,"2.29":1.82,"5.64":4.32,"1.04":1.04,"3.92":2.93,"1065":735},"4":{"1":1,"14.23":14.2,"1.71":1.76,"2.43":2.45,"15.6":15.2,"127":112,"2.8":3.27,"3.06":3.39,".28":0.34,"2.29":1.97,"5.64":6.75,"1.04":1.05,"3.92":2.85,"1065":1450},"5":{"1":1,"14.23":14.39,"1.71":1.87,"2.43":2.45,"15.6":14.6,"127":96,"2.8":2.5,"3.06":2.52,".28":0.3,"2.29":1.98,"5.64":5.25,"1.04":1.02,"3.92":3.58,"1065":1290},"6":{"1":1,"14.23":14.06,"1.71":2.15,"2.43":2.61,"15.6":17.6,"127":121,"2.8":2.6,"3.06":2.51,".28":0.31,"2.29":1.25,"5.64":5.05,"1.04":1.06,"3.92":3.58,"1065":1295},"7":{"1":1,"14.23":14.83,"1.71":1.64,"2.43":2.17,"15.6":14.0,"127":97,"2.8":2.8,"3.06":2.98,".28":0.29,"2.29":1.98,"5.64":5.2,"1.04":1.08,"3.92":2.85,"1065":1045},"8":{"1":1,"14.23":13.86,"1.71":1.35,"2.43":2.27,"15.6":16.0,"127":98,"2.8":2.98,"3.06":3.15,".28":0.22,"2.29":1.85,"5.64":7.22,"1.04":1.01,"3.92":3.55,"1065":1045},"9":{"1":1,"14.23":14.1,"1.71":2.16,"2.43":2.3,"15.6":18.0,"127":105,"2.8":2.95,"3.06":3.32,".28":0.22,"2.29":2.38,"5.64":5.75,"1.04":1.25,"3.92":3.17,"1065":1510},"10":{"1":1,"14.23":14.12,"1.71":1.48,"2.43":2.32,"15.6":16.8,"127":95,"2.8":2.2,"3.06":2.43,".28":0.26,"2.29":1.57,"5.64":5.0,"1.04":1.17,"3.92":2.82,"1065":1280},"11":{"1":1,"14.23":13.75,"1.71":1.73,"2.43":2.41,"15.6":16.0,"127":89,"2.8":2.6,"3.06":2.76,".28":0.29,"2.29":1.81,"5.64":5.6,"1.04":1.15,"3.92":2.9,"1065":1320},"12":{"1":1,"14.23":14.75,"1.71":1.73,"2.43":2.39,"15.6":11.4,"127":91,"2.8":3.1,"3.06":3.69,".28":0.43,"2.29":2.81,"5.64":5.4,"1.04":1.25,"3.92":2.73,"1065":1150},"13":{"1":1,"14.23":14.38,"1.71":1.87,"2.43":2.38,"15.6":12.0,"127":102,"2.8":3.3,"3.06":3.64,".28":0.29,"2.29":2.96,"5.64":7.5,"1.04":1.2,"3.92":3.0,"1065":1547},"14":{"1":1,"14.23":13.63,"1.71":1.81,"2.43":2.7,"15.6":17.2,"127":112,"2.8":2.85,"3.06":2.91,".28":0.3,"2.29":1.46,"5.64":7.3,"1.04":1.28,"3.92":2.88,"1065":1310},"15":{"1":1,"14.23":14.3,"1.71":1.92,"2.43":2.72,"15.6":20.0,"127":120,"2.8":2.8,"3.06":3.14,".28":0.33,"2.29":1.97,"5.64":6.2,"1.04":1.07,"3.92":2.65,"1065":1280},"16":{"1":1,"14.23":13.83,"1.71":1.57,"2.43":2.62,"15.6":20.0,"127":115,"2.8":2.95,"3.06":3.4,".28":0.4,"2.29":1.72,"5.64":6.6,"1.04":1.13,"3.92":2.57,"1065":1130},"17":{"1":1,"14.23":14.19,"1.71":1.59,"2.43":2.48,"15.6":16.5,"127":108,"2.8":3.3,"3.06":3.93,".28":0.32,"2.29":1.86,"5.64":8.7,"1.04":1.23,"3.92":2.82,"1065":1680},"18":{"1":1,"14.23":13.64,"1.71":3.1,"2.43":2.56,"15.6":15.2,"127":116,"2.8":2.7,"3.06":3.03,".28":0.17,"2.29":1.66,"5.64":5.1,"1.04":0.96,"3.92":3.36,"1065":845},"19":{"1":1,"14.23":14.06,"1.71":1.63,"2.43":2.28,"15.6":16.0,"127":126,"2.8":3.0,"3.06":3.17,".28":0.24,"2.29":2.1,"5.64":5.65,"1.04":1.09,"3.92":3.71,"1065":780},"20":{"1":1,"14.23":12.93,"1.71":3.8,"2.43":2.65,"15.6":18.6,"127":102,"2.8":2.41,"3.06":2.41,".28":0.25,"2.29":1.98,"5.64":4.5,"1.04":1.03,"3.92":3.52,"1065":770},"21":{"1":1,"14.23":13.71,"1.71":1.86,"2.43":2.36,"15.6":16.6,"127":101,"2.8":2.61,"3.06":2.88,".28":0.27,"2.29":1.69,"5.64":3.8,"1.04":1.11,"3.92":4.0,"1065":1035},"22":{"1":1,"14.23":12.85,"1.71":1.6,"2.43":2.52,"15.6":17.8,"127":95,"2.8":2.48,"3.06":2.37,".28":0.26,"2.29":1.46,"5.64":3.93,"1.04":1.09,"3.92":3.63,"1065":1015},"23":{"1":1,"14.23":13.5,"1.71":1.81,"2.43":2.61,"15.6":20.0,"127":96,"2.8":2.53,"3.06":2.61,".28":0.28,"2.29":1.66,"5.64":3.52,"1.04":1.12,"3.92":3.82,"1065":845},"24":{"1":1,"14.23":13.05,"1.71":2.05,"2.43":3.22,"15.6":25.0,"127":124,"2.8":2.63,"3.06":2.68,".28":0.47,"2.29":1.92,"5.64":3.58,"1.04":1.13,"3.92":3.2,"1065":830},"25":{"1":1,"14.23":13.39,"1.71":1.77,"2.43":2.62,"15.6":16.1,"127":93,"2.8":2.85,"3.06":2.94,".28":0.34,"2.29":1.45,"5.64":4.8,"1.04":0.92,"3.92":3.22,"1065":1195},"26":{"1":1,"14.23":13.3,"1.71":1.72,"2.43":2.14,"15.6":17.0,"127":94,"2.8":2.4,"3.06":2.19,".28":0.27,"2.29":1.35,"5.64":3.95,"1.04":1.02,"3.92":2.77,"1065":1285},"27":{"1":1,"14.23":13.87,"1.71":1.9,"2.43":2.8,"15.6":19.4,"127":107,"2.8":2.95,"3.06":2.97,".28":0.37,"2.29":1.76,"5.64":4.5,"1.04":1.25,"3.92":3.4,"1065":915},"28":{"1":1,"14.23":14.02,"1.71":1.68,"2.43":2.21,"15.6":16.0,"127":96,"2.8":2.65,"3.06":2.33,".28":0.26,"2.29":1.98,"5.64":4.7,"1.04":1.04,"3.92":3.59,"1065":1035},"29":{"1":1,"14.23":13.73,"1.71":1.5,"2.43":2.7,"15.6":22.5,"127":101,"2.8":3.0,"3.06":3.25,".28":0.29,"2.29":2.38,"5.64":5.7,"1.04":1.19,"3.92":2.71,"1065":1285},"30":{"1":1,"14.23":13.58,"1.71":1.66,"2.43":2.36,"15.6":19.1,"127":106,"2.8":2.86,"3.06":3.19,".28":0.22,"2.29":1.95,"5.64":6.9,"1.04":1.09,"3.92":2.88,"1065":1515},"31":{"1":1,"14.23":13.68,"1.71":1.83,"2.43":2.36,"15.6":17.2,"127":104,"2.8":2.42,"3.06":2.69,".28":0.42,"2.29":1.97,"5.64":3.84,"1.04":1.23,"3.92":2.87,"1065":990},"32":{"1":1,"14.23":13.76,"1.71":1.53,"2.43":2.7,"15.6":19.5,"127":132,"2.8":2.95,"3.06":2.74,".28":0.5,"2.29":1.35,"5.64":5.4,"1.04":1.25,"3.92":3.0,"1065":1235},"33":{"1":1,"14.23":13.51,"1.71":1.8,"2.43":2.65,"15.6":19.0,"127":110,"2.8":2.35,"3.06":2.53,".28":0.29,"2.29":1.54,"5.64":4.2,"1.04":1.1,"3.92":2.87,"1065":1095},"34":{"1":1,"14.23":13.48,"1.71":1.81,"2.43":2.41,"15.6":20.5,"127":100,"2.8":2.7,"3.06":2.98,".28":0.26,"2.29":1.86,"5.64":5.1,"1.04":1.04,"3.92":3.47,"1065":920},"35":{"1":1,"14.23":13.28,"1.71":1.64,"2.43":2.84,"15.6":15.5,"127":110,"2.8":2.6,"3.06":2.68,".28":0.34,"2.29":1.36,"5.64":4.6,"1.04":1.09,"3.92":2.78,"1065":880},"36":{"1":1,"14.23":13.05,"1.71":1.65,"2.43":2.55,"15.6":18.0,"127":98,"2.8":2.45,"3.06":2.43,".28":0.29,"2.29":1.44,"5.64":4.25,"1.04":1.12,"3.92":2.51,"1065":1105},"37":{"1":1,"14.23":13.07,"1.71":1.5,"2.43":2.1,"15.6":15.5,"127":98,"2.8":2.4,"3.06":2.64,".28":0.28,"2.29":1.37,"5.64":3.7,"1.04":1.18,"3.92":2.69,"1065":1020},"38":{"1":1,"14.23":14.22,"1.71":3.99,"2.43":2.51,"15.6":13.2,"127":128,"2.8":3.0,"3.06":3.04,".28":0.2,"2.29":2.08,"5.64":5.1,"1.04":0.89,"3.92":3.53,"1065":760},"39":{"1":1,"14.23":13.56,"1.71":1.71,"2.43":2.31,"15.6":16.2,"127":117,"2.8":3.15,"3.06":3.29,".28":0.34,"2.29":2.34,"5.64":6.13,"1.04":0.95,"3.92":3.38,"1065":795},"40":{"1":1,"14.23":13.41,"1.71":3.84,"2.43":2.12,"15.6":18.8,"127":90,"2.8":2.45,"3.06":2.68,".28":0.27,"2.29":1.48,"5.64":4.28,"1.04":0.91,"3.92":3.0,"1065":1035},"41":{"1":1,"14.23":13.88,"1.71":1.89,"2.43":2.59,"15.6":15.0,"127":101,"2.8":3.25,"3.06":3.56,".28":0.17,"2.29":1.7,"5.64":5.43,"1.04":0.88,"3.92":3.56,"1065":1095},"42":{"1":1,"14.23":13.24,"1.71":3.98,"2.43":2.29,"15.6":17.5,"127":103,"2.8":2.64,"3.06":2.63,".28":0.32,"2.29":1.66,"5.64":4.36,"1.04":0.82,"3.92":3.0,"1065":680},"43":{"1":1,"14.23":13.05,"1.71":1.77,"2.43":2.1,"15.6":17.0,"127":107,"2.8":3.0,"3.06":3.0,".28":0.28,"2.29":2.03,"5.64":5.04,"1.04":0.88,"3.92":3.35,"1065":885},"44":{"1":1,"14.23":14.21,"1.71":4.04,"2.43":2.44,"15.6":18.9,"127":111,"2.8":2.85,"3.06":2.65,".28":0.3,"2.29":1.25,"5.64":5.24,"1.04":0.87,"3.92":3.33,"1065":1080},"45":{"1":1,"14.23":14.38,"1.71":3.59,"2.43":2.28,"15.6":16.0,"127":102,"2.8":3.25,"3.06":3.17,".28":0.27,"2.29":2.19,"5.64":4.9,"1.04":1.04,"3.92":3.44,"1065":1065},"46":{"1":1,"14.23":13.9,"1.71":1.68,"2.43":2.12,"15.6":16.0,"127":101,"2.8":3.1,"3.06":3.39,".28":0.21,"2.29":2.14,"5.64":6.1,"1.04":0.91,"3.92":3.33,"1065":985},"47":{"1":1,"14.23":14.1,"1.71":2.02,"2.43":2.4,"15.6":18.8,"127":103,"2.8":2.75,"3.06":2.92,".28":0.32,"2.29":2.38,"5.64":6.2,"1.04":1.07,"3.92":2.75,"1065":1060},"48":{"1":1,"14.23":13.94,"1.71":1.73,"2.43":2.27,"15.6":17.4,"127":108,"2.8":2.88,"3.06":3.54,".28":0.32,"2.29":2.08,"5.64":8.9,"1.04":1.12,"3.92":3.1,"1065":1260},"49":{"1":1,"14.23":13.05,"1.71":1.73,"2.43":2.04,"15.6":12.4,"127":92,"2.8":2.72,"3.06":3.27,".28":0.17,"2.29":2.91,"5.64":7.2,"1.04":1.12,"3.92":2.91,"1065":1150},"50":{"1":1,"14.23":13.83,"1.71":1.65,"2.43":2.6,"15.6":17.2,"127":94,"2.8":2.45,"3.06":2.99,".28":0.22,"2.29":2.29,"5.64":5.6,"1.04":1.24,"3.92":3.37,"1065":1265},"51":{"1":1,"14.23":13.82,"1.71":1.75,"2.43":2.42,"15.6":14.0,"127":111,"2.8":3.88,"3.06":3.74,".28":0.32,"2.29":1.87,"5.64":7.05,"1.04":1.01,"3.92":3.26,"1065":1190},"52":{"1":1,"14.23":13.77,"1.71":1.9,"2.43":2.68,"15.6":17.1,"127":115,"2.8":3.0,"3.06":2.79,".28":0.39,"2.29":1.68,"5.64":6.3,"1.04":1.13,"3.92":2.93,"1065":1375},"53":{"1":1,"14.23":13.74,"1.71":1.67,"2.43":2.25,"15.6":16.4,"127":118,"2.8":2.6,"3.06":2.9,".28":0.21,"2.29":1.62,"5.64":5.85,"1.04":0.92,"3.92":3.2,"1065":1060},"54":{"1":1,"14.23":13.56,"1.71":1.73,"2.43":2.46,"15.6":20.5,"127":116,"2.8":2.96,"3.06":2.78,".28":0.2,"2.29":2.45,"5.64":6.25,"1.04":0.98,"3.92":3.03,"1065":1120},"55":{"1":1,"14.23":14.22,"1.71":1.7,"2.43":2.3,"15.6":16.3,"127":118,"2.8":3.2,"3.06":3.0,".28":0.26,"2.29":2.03,"5.64":6.38,"1.04":0.94,"3.92":3.31,"1065":970},"56":{"1":1,"14.23":13.29,"1.71":1.97,"2.43":2.68,"15.6":16.8,"127":102,"2.8":3.0,"3.06":3.23,".28":0.31,"2.29":1.66,"5.64":6.0,"1.04":1.07,"3.92":2.84,"1065":1270},"57":{"1":1,"14.23":13.72,"1.71":1.43,"2.43":2.5,"15.6":16.7,"127":108,"2.8":3.4,"3.06":3.67,".28":0.19,"2.29":2.04,"5.64":6.8,"1.04":0.89,"3.92":2.87,"1065":1285},"58":{"1":2,"14.23":12.37,"1.71":0.94,"2.43":1.36,"15.6":10.6,"127":88,"2.8":1.98,"3.06":0.57,".28":0.28,"2.29":0.42,"5.64":1.95,"1.04":1.05,"3.92":1.82,"1065":520},"59":{"1":2,"14.23":12.33,"1.71":1.1,"2.43":2.28,"15.6":16.0,"127":101,"2.8":2.05,"3.06":1.09,".28":0.63,"2.29":0.41,"5.64":3.27,"1.04":1.25,"3.92":1.67,"1065":680},"60":{"1":2,"14.23":12.64,"1.71":1.36,"2.43":2.02,"15.6":16.8,"127":100,"2.8":2.02,"3.06":1.41,".28":0.53,"2.29":0.62,"5.64":5.75,"1.04":0.98,"3.92":1.59,"1065":450},"61":{"1":2,"14.23":13.67,"1.71":1.25,"2.43":1.92,"15.6":18.0,"127":94,"2.8":2.1,"3.06":1.79,".28":0.32,"2.29":0.73,"5.64":3.8,"1.04":1.23,"3.92":2.46,"1065":630},"62":{"1":2,"14.23":12.37,"1.71":1.13,"2.43":2.16,"15.6":19.0,"127":87,"2.8":3.5,"3.06":3.1,".28":0.19,"2.29":1.87,"5.64":4.45,"1.04":1.22,"3.92":2.87,"1065":420},"63":{"1":2,"14.23":12.17,"1.71":1.45,"2.43":2.53,"15.6":19.0,"127":104,"2.8":1.89,"3.06":1.75,".28":0.45,"2.29":1.03,"5.64":2.95,"1.04":1.45,"3.92":2.23,"1065":355},"64":{"1":2,"14.23":12.37,"1.71":1.21,"2.43":2.56,"15.6":18.1,"127":98,"2.8":2.42,"3.06":2.65,".28":0.37,"2.29":2.08,"5.64":4.6,"1.04":1.19,"3.92":2.3,"1065":678},"65":{"1":2,"14.23":13.11,"1.71":1.01,"2.43":1.7,"15.6":15.0,"127":78,"2.8":2.98,"3.06":3.18,".28":0.26,"2.29":2.28,"5.64":5.3,"1.04":1.12,"3.92":3.18,"1065":502},"66":{"1":2,"14.23":12.37,"1.71":1.17,"2.43":1.92,"15.6":19.6,"127":78,"2.8":2.11,"3.06":2.0,".28":0.27,"2.29":1.04,"5.64":4.68,"1.04":1.12,"3.92":3.48,"1065":510},"67":{"1":2,"14.23":13.34,"1.71":0.94,"2.43":2.36,"15.6":17.0,"127":110,"2.8":2.53,"3.06":1.3,".28":0.55,"2.29":0.42,"5.64":3.17,"1.04":1.02,"3.92":1.93,"1065":750},"68":{"1":2,"14.23":12.21,"1.71":1.19,"2.43":1.75,"15.6":16.8,"127":151,"2.8":1.85,"3.06":1.28,".28":0.14,"2.29":2.5,"5.64":2.85,"1.04":1.28,"3.92":3.07,"1065":718},"69":{"1":2,"14.23":12.29,"1.71":1.61,"2.43":2.21,"15.6":20.4,"127":103,"2.8":1.1,"3.06":1.02,".28":0.37,"2.29":1.46,"5.64":3.05,"1.04":0.906,"3.92":1.82,"1065":870},"70":{"1":2,"14.23":13.86,"1.71":1.51,"2.43":2.67,"15.6":25.0,"127":86,"2.8":2.95,"3.06":2.86,".28":0.21,"2.29":1.87,"5.64":3.38,"1.04":1.36,"3.92":3.16,"1065":410},"71":{"1":2,"14.23":13.49,"1.71":1.66,"2.43":2.24,"15.6":24.0,"127":87,"2.8":1.88,"3.06":1.84,".28":0.27,"2.29":1.03,"5.64":3.74,"1.04":0.98,"3.92":2.78,"1065":472},"72":{"1":2,"14.23":12.99,"1.71":1.67,"2.43":2.6,"15.6":30.0,"127":139,"2.8":3.3,"3.06":2.89,".28":0.21,"2.29":1.96,"5.64":3.35,"1.04":1.31,"3.92":3.5,"1065":985},"73":{"1":2,"14.23":11.96,"1.71":1.09,"2.43":2.3,"15.6":21.0,"127":101,"2.8":3.38,"3.06":2.14,".28":0.13,"2.29":1.65,"5.64":3.21,"1.04":0.99,"3.92":3.13,"1065":886},"74":{"1":2,"14.23":11.66,"1.71":1.88,"2.43":1.92,"15.6":16.0,"127":97,"2.8":1.61,"3.06":1.57,".28":0.34,"2.29":1.15,"5.64":3.8,"1.04":1.23,"3.92":2.14,"1065":428},"75":{"1":2,"14.23":13.03,"1.71":0.9,"2.43":1.71,"15.6":16.0,"127":86,"2.8":1.95,"3.06":2.03,".28":0.24,"2.29":1.46,"5.64":4.6,"1.04":1.19,"3.92":2.48,"1065":392},"76":{"1":2,"14.23":11.84,"1.71":2.89,"2.43":2.23,"15.6":18.0,"127":112,"2.8":1.72,"3.06":1.32,".28":0.43,"2.29":0.95,"5.64":2.65,"1.04":0.96,"3.92":2.52,"1065":500},"77":{"1":2,"14.23":12.33,"1.71":0.99,"2.43":1.95,"15.6":14.8,"127":136,"2.8":1.9,"3.06":1.85,".28":0.35,"2.29":2.76,"5.64":3.4,"1.04":1.06,"3.92":2.31,"1065":750},"78":{"1":2,"14.23":12.7,"1.71":3.87,"2.43":2.4,"15.6":23.0,"127":101,"2.8":2.83,"3.06":2.55,".28":0.43,"2.29":1.95,"5.64":2.57,"1.04":1.19,"3.92":3.13,"1065":463},"79":{"1":2,"14.23":12.0,"1.71":0.92,"2.43":2.0,"15.6":19.0,"127":86,"2.8":2.42,"3.06":2.26,".28":0.3,"2.29":1.43,"5.64":2.5,"1.04":1.38,"3.92":3.12,"1065":278},"80":{"1":2,"14.23":12.72,"1.71":1.81,"2.43":2.2,"15.6":18.8,"127":86,"2.8":2.2,"3.06":2.53,".28":0.26,"2.29":1.77,"5.64":3.9,"1.04":1.16,"3.92":3.14,"1065":714},"81":{"1":2,"14.23":12.08,"1.71":1.13,"2.43":2.51,"15.6":24.0,"127":78,"2.8":2.0,"3.06":1.58,".28":0.4,"2.29":1.4,"5.64":2.2,"1.04":1.31,"3.92":2.72,"1065":630},"82":{"1":2,"14.23":13.05,"1.71":3.86,"2.43":2.32,"15.6":22.5,"127":85,"2.8":1.65,"3.06":1.59,".28":0.61,"2.29":1.62,"5.64":4.8,"1.04":0.84,"3.92":2.01,"1065":515},"83":{"1":2,"14.23":11.84,"1.71":0.89,"2.43":2.58,"15.6":18.0,"127":94,"2.8":2.2,"3.06":2.21,".28":0.22,"2.29":2.35,"5.64":3.05,"1.04":0.79,"3.92":3.08,"1065":520},"84":{"1":2,"14.23":12.67,"1.71":0.98,"2.43":2.24,"15.6":18.0,"127":99,"2.8":2.2,"3.06":1.94,".28":0.3,"2.29":1.46,"5.64":2.62,"1.04":1.23,"3.92":3.16,"1065":450},"85":{"1":2,"14.23":12.16,"1.71":1.61,"2.43":2.31,"15.6":22.8,"127":90,"2.8":1.78,"3.06":1.69,".28":0.43,"2.29":1.56,"5.64":2.45,"1.04":1.33,"3.92":2.26,"1065":495},"86":{"1":2,"14.23":11.65,"1.71":1.67,"2.43":2.62,"15.6":26.0,"127":88,"2.8":1.92,"3.06":1.61,".28":0.4,"2.29":1.34,"5.64":2.6,"1.04":1.36,"3.92":3.21,"1065":562},"87":{"1":2,"14.23":11.64,"1.71":2.06,"2.43":2.46,"15.6":21.6,"127":84,"2.8":1.95,"3.06":1.69,".28":0.48,"2.29":1.35,"5.64":2.8,"1.04":1.0,"3.92":2.75,"1065":680},"88":{"1":2,"14.23":12.08,"1.71":1.33,"2.43":2.3,"15.6":23.6,"127":70,"2.8":2.2,"3.06":1.59,".28":0.42,"2.29":1.38,"5.64":1.74,"1.04":1.07,"3.92":3.21,"1065":625},"89":{"1":2,"14.23":12.08,"1.71":1.83,"2.43":2.32,"15.6":18.5,"127":81,"2.8":1.6,"3.06":1.5,".28":0.52,"2.29":1.64,"5.64":2.4,"1.04":1.08,"3.92":2.27,"1065":480},"90":{"1":2,"14.23":12.0,"1.71":1.51,"2.43":2.42,"15.6":22.0,"127":86,"2.8":1.45,"3.06":1.25,".28":0.5,"2.29":1.63,"5.64":3.6,"1.04":1.05,"3.92":2.65,"1065":450},"91":{"1":2,"14.23":12.69,"1.71":1.53,"2.43":2.26,"15.6":20.7,"127":80,"2.8":1.38,"3.06":1.46,".28":0.58,"2.29":1.62,"5.64":3.05,"1.04":0.96,"3.92":2.06,"1065":495},"92":{"1":2,"14.23":12.29,"1.71":2.83,"2.43":2.22,"15.6":18.0,"127":88,"2.8":2.45,"3.06":2.25,".28":0.25,"2.29":1.99,"5.64":2.15,"1.04":1.15,"3.92":3.3,"1065":290},"93":{"1":2,"14.23":11.62,"1.71":1.99,"2.43":2.28,"15.6":18.0,"127":98,"2.8":3.02,"3.06":2.26,".28":0.17,"2.29":1.35,"5.64":3.25,"1.04":1.16,"3.92":2.96,"1065":345},"94":{"1":2,"14.23":12.47,"1.71":1.52,"2.43":2.2,"15.6":19.0,"127":162,"2.8":2.5,"3.06":2.27,".28":0.32,"2.29":3.28,"5.64":2.6,"1.04":1.16,"3.92":2.63,"1065":937},"95":{"1":2,"14.23":11.81,"1.71":2.12,"2.43":2.74,"15.6":21.5,"127":134,"2.8":1.6,"3.06":0.99,".28":0.14,"2.29":1.56,"5.64":2.5,"1.04":0.95,"3.92":2.26,"1065":625},"96":{"1":2,"14.23":12.29,"1.71":1.41,"2.43":1.98,"15.6":16.0,"127":85,"2.8":2.55,"3.06":2.5,".28":0.29,"2.29":1.77,"5.64":2.9,"1.04":1.23,"3.92":2.74,"1065":428},"97":{"1":2,"14.23":12.37,"1.71":1.07,"2.43":2.1,"15.6":18.5,"127":88,"2.8":3.52,"3.06":3.75,".28":0.24,"2.29":1.95,"5.64":4.5,"1.04":1.04,"3.92":2.77,"1065":660},"98":{"1":2,"14.23":12.29,"1.71":3.17,"2.43":2.21,"15.6":18.0,"127":88,"2.8":2.85,"3.06":2.99,".28":0.45,"2.29":2.81,"5.64":2.3,"1.04":1.42,"3.92":2.83,"1065":406},"99":{"1":2,"14.23":12.08,"1.71":2.08,"2.43":1.7,"15.6":17.5,"127":97,"2.8":2.23,"3.06":2.17,".28":0.26,"2.29":1.4,"5.64":3.3,"1.04":1.27,"3.92":2.96,"1065":710},"100":{"1":2,"14.23":12.6,"1.71":1.34,"2.43":1.9,"15.6":18.5,"127":88,"2.8":1.45,"3.06":1.36,".28":0.29,"2.29":1.35,"5.64":2.45,"1.04":1.04,"3.92":2.77,"1065":562},"101":{"1":2,"14.23":12.34,"1.71":2.45,"2.43":2.46,"15.6":21.0,"127":98,"2.8":2.56,"3.06":2.11,".28":0.34,"2.29":1.31,"5.64":2.8,"1.04":0.8,"3.92":3.38,"1065":438},"102":{"1":2,"14.23":11.82,"1.71":1.72,"2.43":1.88,"15.6":19.5,"127":86,"2.8":2.5,"3.06":1.64,".28":0.37,"2.29":1.42,"5.64":2.06,"1.04":0.94,"3.92":2.44,"1065":415},"103":{"1":2,"14.23":12.51,"1.71":1.73,"2.43":1.98,"15.6":20.5,"127":85,"2.8":2.2,"3.06":1.92,".28":0.32,"2.29":1.48,"5.64":2.94,"1.04":1.04,"3.92":3.57,"1065":672},"104":{"1":2,"14.23":12.42,"1.71":2.55,"2.43":2.27,"15.6":22.0,"127":90,"2.8":1.68,"3.06":1.84,".28":0.66,"2.29":1.42,"5.64":2.7,"1.04":0.86,"3.92":3.3,"1065":315},"105":{"1":2,"14.23":12.25,"1.71":1.73,"2.43":2.12,"15.6":19.0,"127":80,"2.8":1.65,"3.06":2.03,".28":0.37,"2.29":1.63,"5.64":3.4,"1.04":1.0,"3.92":3.17,"1065":510},"106":{"1":2,"14.23":12.72,"1.71":1.75,"2.43":2.28,"15.6":22.5,"127":84,"2.8":1.38,"3.06":1.76,".28":0.48,"2.29":1.63,"5.64":3.3,"1.04":0.88,"3.92":2.42,"1065":488},"107":{"1":2,"14.23":12.22,"1.71":1.29,"2.43":1.94,"15.6":19.0,"127":92,"2.8":2.36,"3.06":2.04,".28":0.39,"2.29":2.08,"5.64":2.7,"1.04":0.86,"3.92":3.02,"1065":312},"108":{"1":2,"14.23":11.61,"1.71":1.35,"2.43":2.7,"15.6":20.0,"127":94,"2.8":2.74,"3.06":2.92,".28":0.29,"2.29":2.49,"5.64":2.65,"1.04":0.96,"3.92":3.26,"1065":680},"109":{"1":2,"14.23":11.46,"1.71":3.74,"2.43":1.82,"15.6":19.5,"127":107,"2.8":3.18,"3.06":2.58,".28":0.24,"2.29":3.58,"5.64":2.9,"1.04":0.75,"3.92":2.81,"1065":562},"110":{"1":2,"14.23":12.52,"1.71":2.43,"2.43":2.17,"15.6":21.0,"127":88,"2.8":2.55,"3.06":2.27,".28":0.26,"2.29":1.22,"5.64":2.0,"1.04":0.9,"3.92":2.78,"1065":325},"111":{"1":2,"14.23":11.76,"1.71":2.68,"2.43":2.92,"15.6":20.0,"127":103,"2.8":1.75,"3.06":2.03,".28":0.6,"2.29":1.05,"5.64":3.8,"1.04":1.23,"3.92":2.5,"1065":607},"112":{"1":2,"14.23":11.41,"1.71":0.74,"2.43":2.5,"15.6":21.0,"127":88,"2.8":2.48,"3.06":2.01,".28":0.42,"2.29":1.44,"5.64":3.08,"1.04":1.1,"3.92":2.31,"1065":434},"113":{"1":2,"14.23":12.08,"1.71":1.39,"2.43":2.5,"15.6":22.5,"127":84,"2.8":2.56,"3.06":2.29,".28":0.43,"2.29":1.04,"5.64":2.9,"1.04":0.93,"3.92":3.19,"1065":385},"114":{"1":2,"14.23":11.03,"1.71":1.51,"2.43":2.2,"15.6":21.5,"127":85,"2.8":2.46,"3.06":2.17,".28":0.52,"2.29":2.01,"5.64":1.9,"1.04":1.71,"3.92":2.87,"1065":407},"115":{"1":2,"14.23":11.82,"1.71":1.47,"2.43":1.99,"15.6":20.8,"127":86,"2.8":1.98,"3.06":1.6,".28":0.3,"2.29":1.53,"5.64":1.95,"1.04":0.95,"3.92":3.33,"1065":495},"116":{"1":2,"14.23":12.42,"1.71":1.61,"2.43":2.19,"15.6":22.5,"127":108,"2.8":2.0,"3.06":2.09,".28":0.34,"2.29":1.61,"5.64":2.06,"1.04":1.06,"3.92":2.96,"1065":345},"117":{"1":2,"14.23":12.77,"1.71":3.43,"2.43":1.98,"15.6":16.0,"127":80,"2.8":1.63,"3.06":1.25,".28":0.43,"2.29":0.83,"5.64":3.4,"1.04":0.7,"3.92":2.12,"1065":372},"118":{"1":2,"14.23":12.0,"1.71":3.43,"2.43":2.0,"15.6":19.0,"127":87,"2.8":2.0,"3.06":1.64,".28":0.37,"2.29":1.87,"5.64":1.28,"1.04":0.93,"3.92":3.05,"1065":564},"119":{"1":2,"14.23":11.45,"1.71":2.4,"2.43":2.42,"15.6":20.0,"127":96,"2.8":2.9,"3.06":2.79,".28":0.32,"2.29":1.83,"5.64":3.25,"1.04":0.8,"3.92":3.39,"1065":625},"120":{"1":2,"14.23":11.56,"1.71":2.05,"2.43":3.23,"15.6":28.5,"127":119,"2.8":3.18,"3.06":5.08,".28":0.47,"2.29":1.87,"5.64":6.0,"1.04":0.93,"3.92":3.69,"1065":465},"121":{"1":2,"14.23":12.42,"1.71":4.43,"2.43":2.73,"15.6":26.5,"127":102,"2.8":2.2,"3.06":2.13,".28":0.43,"2.29":1.71,"5.64":2.08,"1.04":

In [67]:
df1.to_pickle('dfpickle')

In [68]:
pickledf = pd.read_pickle('dfpickle')

In [69]:
pickledf.head()

    c1  c2  c3  c4
r1   1   2   3   4
r2   5   6   7   8
r3   9  10  11  12
r4  13  14  15  16
r5  17  18  19  20

In [72]:
df.shape

(1216, 10)

In [74]:
# Chunk Size
chunk = pd.read_csv('https://raw.githubusercontent.com/BuzzFeedNews/zika-data/master/data/raw/paho-who/paho-who-cases-reported-2016-03-02.csv', chunksize=1000)
for i in chunk:
    print(i)

    Country / territory Measure Names Month of Date  Report Epi Week  \
0                 Aruba     Suspected       January                1
1                 Aruba    Confirmed        January                1
2                 Aruba     Suspected       January                2
3                 Aruba    Confirmed        January                2
4                 Aruba     Suspected       January                3
..                  ...           ...           ...              ...
995  Dominican Republic    Confirmed       December               52
996             Ecuador     Suspected      December               48
997             Ecuador    Confirmed       December               48
998             Ecuador     Suspected      December               49
999             Ecuador    Confirmed       December               49

     Year of Date Country / territory.1            Date Measure Values  \
0            2016                 Aruba   January, 2016              0
1            2016                 Aruba   January, 2016              0
2            2016                 Aruba   January, 2016              0
3            2016                 Aruba   January, 2016              0
4            2016                 Aruba   January, 2016              0
..            ...                   ...             ...            ...
995          2015    Dominican Republic  December, 2015              0
996          2015               Ecuador  December, 2015              0
997          2015               Ecuador  December, 2015              0
998          2015               Ecuador  December, 2015              0
999          2015               Ecuador  December, 2015              0

     Laboratory confirmed cases Suspected cases
0                             0               0
1                             0               0
2                             0               0
3                             0               0
4                             0               0
..                          ...             ...
995                           0               0
996                           0               0
997                           0               0
998                           0               0
999                           0               0

[1000 rows x 10 columns]
     Country / territory Measure Names Month of Date  Report Epi Week  \
1000             Ecuador     Suspected      December               50
1001             Ecuador    Confirmed       December               50
1002             Ecuador     Suspected      December               51
1003             Ecuador    Confirmed       December               51
1004             Ecuador     Suspected      December               52
...                  ...           ...           ...              ...
1211           Venezuela    Confirmed       December               50
1212           Venezuela     Suspected      December               51
1213           Venezuela    Confirmed       December               51
1214           Venezuela     Suspected      December               52
1215           Venezuela    Confirmed       December               52

      Year of Date Country / territory.1            Date  Measure Values  \
1000          2015               Ecuador  December, 2015               0
1001          2015               Ecuador  December, 2015               0
1002          2015               Ecuador  December, 2015               0
1003          2015               Ecuador  December, 2015               0
1004          2015               Ecuador  December, 2015               0
...            ...                   ...             ...             ...
1211          2015             Venezuela  December, 2015               0
1212          2015             Venezuela  December, 2015               0
1213          2015             Venezuela  December, 2015               0
1214          2015             Venezuela  December, 2015               0
1215          2015             Venezuela  December, 2015               0

      Laboratory confirmed cases  Suspected cases
1000                           0                0
1001                           0                0
1002                           0                0
1003                           0                0
1004                           0                0
...                          ...              ...
1211                           0                0
1212                           0                0
1213                           0                0
1214                           0                0
1215                           0                0

[216 rows x 10 columns]

In [79]:
print(chunk.read(10))

StopIteration:

In [80]:
import sys
df1.to_csv(sys.stdout, na_rep='NULL')

,c1,c2,c3,c4
r1,1,2,3,4
r2,5,6,7,8
r3,9,10,11,12
r4,13,14,15,16
r5,17,18,19,20

In [84]:
dates = pd.date_range(start='1/12/2015',periods=10, freq='2M')
dates

DatetimeIndex(['2015-01-31', '2015-03-31', '2015-05-31', '2015-07-31',
               '2015-09-30', '2015-11-30', '2016-01-31', '2016-03-31',
               '2016-05-31', '2016-07-31'],
              dtype='datetime64[ns]', freq='2M')

In [86]:
#!cat tseries.csv - In Linux and Mac
#for windows - !type tseries.csv

In [87]:
import csv
f = open('examples/ex7.csv')
f

In [88]:
reader = csv.reader(f)
reader

In [89]:
for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

In [91]:
with open('examples/ex7.csv') as f:
    lines = list(csv.reader(f))
header, values = lines[0], lines[1:]
data_dict = {h: v for h,v in zip(header, zip(*values))}
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

In [92]:
#create JSON Object
obj = """
{
"name":"Anoop",
"place":["Lucknow","Noida","Pune"],
"pet":null,
"siblings":[{"name":"Durgesh", "age":40, "pets":["hari","fulki"]},
            {"name":"Anuradha", "age":40, "pets":null}]
}"""
type(obj)

str

In [93]:
import json
result = json.loads(obj)
result

{'name': 'Anoop',
 'place': ['Lucknow', 'Noida', 'Pune'],
 'pet': None,
 'siblings': [{'name': 'Durgesh', 'age': 40, 'pets': ['hari', 'fulki']},
  {'name': 'Anuradha', 'age': 40, 'pets': None}]}

In [94]:
asjson = json.dumps(result)
siblings = pd.DataFrame(result['siblings'], columns=['name','age','pets'])
siblings

       name  age           pets
0   Durgesh   40  [hari, fulki]
1  Anuradha   40           None

In [95]:
result['place']

['Lucknow', 'Noida', 'Pune']

In [96]:
siblings1 = pd.DataFrame(result['siblings'], columns=['name','age'])
siblings1

       name  age
0   Durgesh   40
1  Anuradha   40

In [107]:
tmps = pd.to_datetime(df['Date'])

In [105]:
pd.to_datetime(df['Date'])[0].date().year

2016

In [109]:
tmps.dt.year.value_counts()

2015    808
2016    408
Name: Date, dtype: int64

# Binary Data Formats

In [111]:
frame = pd.read_csv('examples/ex1.csv')
frame
frame.to_pickle('frame_pickle')

In [112]:
pd.read_pickle('frame_pickle')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [113]:
!rm frame_pickle

'rm' is not recognized as an internal or external command,
operable program or batch file.

# Using HDF5 Format

In [ ]:
#frame1 = pd.DataFrame({'a'})read_csv('examples/ex1.csv')