###This is Lecture - 3

Complex

In [1]:
j = 1.0 - 2.0j
j

(1-2j)

-- Need to check input method -- After Class

In [2]:
ls1 = list("Anoop")
ls1

['A', 'n', 'o', 'o', 'p']

In [3]:
l = ['a','b','c','d','e','f']
l

['a', 'b', 'c', 'd', 'e', 'f']

In [4]:
l = [1,2,3,4,5,6,7,8]

In [6]:
# For else loop - Sum of odd-even numbers from given list
ev1 = 0
od1 = 0
for i in l:
    if(i%2==0):
        ev1+=i
    else:
        od1+=i
print("Even: ",ev1," Odd ",od1)

Even:  20  Odd  16

In [2]:
# For else loop
lst=[1,2,3,4,5,6,7,8,9,10]
od1=0
ev1=0
for i in lst:
    if(i%2==0):
        ev1+=i
        if(ev1>20):
            break
    else:
        od1+=i
        if(od1>20):
            break
else:
    print(ev1)
    print(od1)
print("After Loop - Even Sum: {} and Odd Sum: {}".format(ev1,od1))

After Loop - Even Sum: 20 and Odd Sum: 25

In [3]:
# First 10 Digit even-odd numbers sum using while loop
n=10
od1=0
ev1=0
i=1
while i<=n:
    if(i%2==0):
        ev1+=i
    else:
        od1+=i
    i=i+1
print(ev1)
print(od1)

30
25

#Break & Continue

In [3]:
Str1 = "Anoop Kumar"
for i in Str1:
    if(i==' '):
        continue
    print(i)

A
n
o
o
p
K
u
m
a
r

In [9]:
#Range
list(range(4,10))

[4, 5, 6, 7, 8, 9]

In [12]:
#list of even nos
list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [13]:
#list of odd nos
list(range(1,20,2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [14]:
#sum of all even nos in between 0-100
sum(list(range(0,100,2)))

2450

In [15]:
#Decending order - For Negative Range
list(range(20,0,-2))

[20, 18, 16, 14, 12, 10, 8, 6, 4, 2]

In [6]:
#String operations - Slicing
str1 = 'Anoop Kumar Chaudhary'
print(str1[:])
print(str1[:-1])
print(str1[-1:])

Anoop Kumar Chaudhary
Anoop Kumar Chaudhar
y

In [16]:
print(str1[::-1])

yrahduahC ramuK poonA

In [20]:
pi = 3.14 
r = 12
V = 4/3 * pi * (r**3)
print(V)

7234.5599999999995